/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header-wpr {
  padding: 15px 0 35px;
  margin-bottom: 30px;
  color: #fff;
  background-color: #337ab7;
}
.header-wpr a {
  color: #fff;
}
.footer-wpr {
  padding: 30px 0;
  margin-top: 30px;
  color: #fff;
  background-color: #337ab7;
 }
.article:first-of-type hr {
  display: none;
}
